<h2>課程查詢系統 </h2>

<%= link_to "新增課程", new_course_path %>
<%= link_to "課程總覽", courses_path %>

<p>請輸入搜尋條件</p>

<%=form_tag courses_path, method:"get" do%>
<div>
	課程名稱<%=text_field_tag :name%>
</div>

<div>
	授課老師<%=text_field_tag :teache%>
</div>

<div>
	上課時間<%=text_field_tag :time%>
</div>

<%=submit_tag "搜尋"%>

<%end%>